.container-input{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: red;
    width: 100%;
    height: auto;;
}

h1{
    margin-left: 50%;
}

#btn-sum{
    margin-left: 50%;
    font-size: 20px;
    margin-top:  5px;
}